.main__title  {
  font-family: 'Roboto';
}
body {
  margin: 0;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-right: 7px;
}
.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
}
.logo__title {
  font: bold 24px/32px 'pt_serifbold', arial, helvetica, sans_serif;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 27px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans_serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child {
  margin: 0;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: 70%;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}
.menu__item:after {
 position: absolute;
 left: 0;
 display: block;
 content: '';
 width: 0;
 height: 3px;
 background: #0056EC;
 opacity: 0;
 transition: opacity .5s, width .5s;
}

.menu__item:hover {
 opacity: 0.5;
}

.menu__item:hover:after, .menu__item_active:after {
 opacity: 1;
 width: 100%;
}
.main {
 padding: 100px 63% 181px 0;
 background: 99.8% 41%/50.2% no-repeat url('img/mainImg.svg');
}

.main__title {
  margin: 0 0 40px 0;
  align-items: center;
  font: bold 66px/87px 'pt_serifbold', arial, helvetica, sans_serif;
}

.main__subtitle {
  margin: 0 0 41px 0;
  width: 80.2%;
  font: 22px/26px 'Roboto', arial, helvetica, sans_serif;
}

.main__button {
  display: inline-block;
  font: 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  width: 271px;
  height: 57px;
  padding: 14px 14px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

#menu__toggle {
  display: none;
}
@media (max-width:768px) {
 .menu {
 display: none;
 }

 .logo__title{
   display: none;
 }

 .header {
 margin-bottom: 28px;
 }

 .main {
   text-align: center;
   padding: 64% 21px 25px 21px;
   background-size: 100%;
   background-position: top center;
 }

 .main__title {
   padding-top: 32px;
   margin-bottom: 44px;
   font: bold 30px/40px 'pt_serifbold', arial, helvetica, sans-serif;
 }

 .main__subtitle {
   width: auto;
   margin-bottom: 25px;
   font: 600 16px/19px 'Roboto', arial, helvetica, sans-serif;
 }

 .main__button {
   width: 209px;
   height: 44px;
   font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
   right: 82px;
   bottom: 43px;
 }

  #menu__toggle {
    display: none;
  }

  .burger__menu {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;
    height: 70px;
  }

  .burger-line {
    position: absolute;
    top: 32px;
    right: 24px;
    width: 25px;
    height: 3px;
    background-color: #0056EC;
    transition: .5s all;
    z-index: 3;
  }

  .second, .third {
    top: 39px;

  }
  .fourth {
    top: 46px;
  }

  .menu-btn {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 70px;
  }

  .menu__box {
    border: dashed 1px green;
    display: block;
    position: relative;
    width: 100%;
    padding-left: 0;
    max-height: 0;
    font-size: 0;
    list-style: none;
    background-color: #fff;
    overflow: hidden;
    transform: translateY(0);
    transition: .5s all;
    z-index: 1;
  }

  .menu__item {
    border: dashed 1px red;
    display: block;
    width: auto;
    margin-top: 186px;
    padding: 24px 12px;
    font: 600 30px/35px 'Roboto', sans-serif;
    text-decoration: none;
    background-color: #fff;
    text-align: center;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__box {
    max-height: 667px;
    font: 500 30px/35px 'Roboto';
  }
  #menu__toggle:checked ~ .first {
    display: none;
  }
  #menu__toggle:checked ~ .second {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .third {
    transform: rotate(-45deg);
  }
  #menu__toggle:checked ~ .fourth {
    display: none;
  }


}

@media (min-width:766px) {
  .menu__box {
    display: none;
  }
  #menu-toggle {
    display: none;
  }
}
